{% extends "base.html" %}
{% block content %}
<!-- script -->
<script type="module" src="{{ url_for('static', filename='firebase-config.js')}}"></script>
    <!-- Javascript -->
<!-- <script type="module" src="{{ url_for('static', filename='grafik.js')}}"></script> -->
<!-- script -->
<a href="http://127.0.0.1:5000/">
    <button>HOME</button>
</a>
<div>
    <h4 id="BPM"></h4>
    <h4 id="SPO2"></h4>
</div>
<a href="http://127.0.0.1:5000/data">
    <button>Next</button>
</a>

<!-- <div id="chart_div"></div> -->
{% endblock %}